/* Start Landing */
.landing {
    background-image: url(../B_IMGS/Landing_img.png);
    background-size: cover;
    height: 100vh;
    margin: 0;
    margin-top:5px;
    position: relative;
    box-shadow: 0px 0px 10px var(--main-shadow-color);
}

.landing .Intro-text {
    background-color: var(--main-element-BG);
    padding-top: 10px;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 350px;
    max-width: 100%;
}

.landing .Intro-text h1 {
    margin-top: 10px;
    margin: 0px;
    color: var(--main-1-color);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.landing .Intro-text #P {
    margin-top: 10px;
}

.landing .Intro-text p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: var(--main-2-color);
    margin-top: -10px;
    margin-bottom: 15px;
}

/* Mobile Screen */
@media (max-width: 767px) {
    /* 20 */
    .landing .Intro-text {
        min-width: 300px;
    }
    /* 32 */ 
    .landing .Intro-text h1 {
        font-size: 35px;
        /* line-height: 1.5; */
    }
    
    .landing .Intro-text #P {
        font-size: 19px;
    }
    /* 45 */
    .landing .Intro-text P {
        font-size: 15px;
    }
}
/* Small Screen */
@media (min-width: 768px) {
    /* 32 */ 
    .landing .Intro-text h1 {
        font-size: 35px;
        /* line-height: 1.6; */
    }
    
    .landing .Intro-text #P {
        font-size: 21px;
    }
    /* 45 */
    .landing .Intro-text P {
        font-size: 17px;
    }
}
/* Medium Screen */
@media (min-width:992px) {
    /* 32 */ 
    .landing .Intro-text h1 {
        font-size: 40px;
        /* line-height: 1.7; */
    }
    
    .landing .Intro-text #P {
        font-size: 24px;
    }
    /* 45 */
    .landing .Intro-text P {
        font-size: 20px;
    }
}
/* Large Screen*/
@media (min-width: 1200px) {
    .landing .Intro-text {
        min-width: 400px;
    }
    /* 32 */ 
    .landing .Intro-text h1 {
        font-size: 40px;
        /* line-height: 1.2; */
    }
    
    .landing .Intro-text #P {
        font-size: 24px;
    }
    /* 45 */
    .landing .Intro-text P {
        font-size: 20px;
    }
}
/* End Landing */

/* Start Section */
.section .container {
    display: grid;
    overflow: hidden;
}

.section .container .Intro {
    border: 1px blue solid;
    color: var(--main-11-color);
    text-align: center;
    margin: 15px 5px;
    padding: 0;
    box-shadow: 0px 0px 10px var(--main-shadow-color);
    font-size: 20px;
}

.section .container .Intro h3 {
    margin:0px;
    padding:10px;
    text-shadow: 0px 0px 5px black;
}

@media (max-width: 767px) {
    .section .container .Intro h3 {
        font-size: 18px;
    }
}

.section .container .departments {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 15px;
    color: var(--main-1-color);
}

.section .container .departments .D {
    overflow: hidden;
    padding: 0;
    /* border: 1px red solid; */
}

.section .container img {
    width: calc(100% - 10px);
    border: 1px solid blue;
    border-radius: 10px;
    box-shadow: 0px 0px 8px blue;
    margin: 5px;
}

.section .container .departments .D div {
    background-color: var(--seconed-element-BG);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 8px;
}

@media (min-width:627px) {
    .section .container .departments .D div {
        /* height: 200px; */
    }
}

.section .container .departments .D h3 {
    margin: 0;
    text-align: center;
    text-shadow: 0px 0px 5px black;
    font-weight: 800;
    padding-top: 10px;
}

.section .container .departments .D p {
    margin-top: 8px;
    margin-bottom: 0;
    text-align: center;
    text-shadow: 0px 0px 2px black;
    font-size: 17px;
    line-height: 1.5;
} 

.section .container .departments .D a {
    display: block;
    text-decoration: none;
    border-radius: 5px;
    border: 1px blue solid;
    box-shadow: 0px 0px 2px var(--main-shadow-color);
    text-align: center;
    padding: 3px;
    color: var(--main-2-color);
}

.section .container .departments .D a:hover {
    border-radius: 10px;
    background-color: var(--main-element-BG);
    color: var(--main-11-color);
}
/* End Section */