/* Start Variables */
:root {
    --main-1-color: rgb(170, 112, 3);
    --main-2-color: #00ccff;
    --main-element-BG: rgba(0, 0, 0, 0.7);
}
/* End Variables */

/* Start Landing */
.landing {
    background-image: url(../B_IMGS/Landing_img.png);
    background-size: cover;
    height: calc(100vh - 65px);
    margin: 0;
    margin-top:5px;
    position: relative;
    box-shadow: 0px 0px 10px var(--main-2-color);
}

.landing .Intro-text {
    background-color: var(--main-element-BG);
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 350px;
    max-width: 100%;
}

.landing .Intro-text h1 {
    margin-top: 10px;
    margin: 0px;
    color: var(--main-1-color);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.landing .Intro-text p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: var(--main-2-color);
    margin-bottom: 15px;
}

/* Mobile Screen */
@media (max-width: 767px) {
    /* 10 */
    .landing {
        height: calc(100vh - 55px); 
    }
    /* 20 */
    .landing .Intro-text {
        min-width: 300px;
    }
    /* 32 */ 
    .landing .Intro-text h1 {
        font-size: 37px;
        line-height: 1.5;
    }
    
    .landing .Intro-text #P {
        font-size: 19px;
    }
    /* 45 */
    .landing .Intro-text P {
        font-size: 15px;
    }
}
/* Small Screen */
@media (min-width: 768px) {
    /* 32 */ 
    .landing .Intro-text h1 {
        font-size: 40px;
        line-height: 1.6;
    }
    
    .landing .Intro-text #P {
        font-size: 22px;
    }
    /* 45 */
    .landing .Intro-text P {
        font-size: 18px;
    }
}
/* Medium Screen */
@media (min-width:992px) {
    /* 32 */ 
    .landing .Intro-text h1 {
        font-size: 45px;
        line-height: 1.7;
    }
    
    .landing .Intro-text #P {
        font-size: 25px;
    }
    /* 45 */
    .landing .Intro-text P {
        font-size: 20px;
        margin-bottom: 15px;
    }
}
/* Large Screen*/
@media (min-width: 1200px) {
    /* 32 */ 
    .landing .Intro-text h1 {
        font-size: 50px;
        line-height: 1.8;
    }
    
    .landing .Intro-text #P {
        font-size: 28px;
    }
    /* 45 */
    .landing .Intro-text P {
        font-size: 22px;
    }
}
/* End Landing */

/* Start Section */

/* End Section */